{% load static %}  <!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}"> 
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      <label>Username</label><br>
      <input type="text" name="username"><br><br>
      <label>Password</label><br>
      <input type="password" name="password"><br><br>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
  </div> 
</body>
</html>